html,body,div,h1,h2,h3,h4,h5,h6,p,span,ul,li{
    padding:0;
    margin:0;
}
.closetabBox{
    width:100%;
}
.tabtit{
    width:100%;
    height:40px;
    list-style: none;
    background:#f7f7f7;
}
.tabtit li{
    width:20%;
    text-align: center;
    line-height: 30px;
    float:left;
}
.tab-bg-active{
    color:#fff;
    background:red;
}
.tab-none{
    display:none;
}
.activityTabCloseBtn {
    float: right;
    padding: 3px 4px 0 0;
    width: 8px;
}